body{
    background-color: aquamarine;
}

main{
    margin: 0px auto;
    width: 800px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100vh;   /* flex sa riadi tým, aký veľký je jeho rodičovský element tak podľa nej zarovnáva */
    justify-content: center;
    align-items: center;
    border: 2px dashed slateblue;
}

@media screen and (max-width: 600px){
    body{
        background-color: blueviolet;
    }

    main{
        flex-direction: column;
    }
}

.prvy{
    background-color: cornflowerblue;
}

.druhy{
    background-color: coral;
}

.treti{
    background-color: limegreen;
}