* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #EADEDA;
}

header {
    background-color: #820263;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    background-color: #C3CCD8;
}

section h2 {
    color: #2E294E;
    margin-bottom: 1rem;
}

.cta-button {
    background-color: #FFD400;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #D90368;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

 /* 1.pri prejden칤 my코ou po polo쬶치ch menu sa zmen칤 farba pozadia a pod캜iarknutie*/
a:hover{
    background-color: #D90368 ;
    text-decoration: underline;
}

/* 2.pred nadpis som vlo쬴l 游눹 */
h1::before{
    content: "游눹";
}

/* 3.hover na .cta-button */
.cta-button:hover{
    background-color: #FFC300 ;
    box-shadow: 7px 7px 12px #ab8300;
}

::selection {
    background-color: #FFD700; /* Svetlo쬷t치 farba pozadia */
    color: #2E294E; /* Tmavosiv치 farba textu */
}

/*6. Skryt칳 odkaz na Kontakt ak je str치nka pod 600px*/
@media (max-width: 600px) {
    li:last-child{
        display: none;}
    }

button:disabled {
    background-color: #C3CCD8;
    color: #666;
    cursor: not-allowed;
}