 html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

main{
    /* height: 100%; */
    margin: 0;
    /* border: 2px orange solid; */
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 20px;
}


p{
    border-radius: 15px;
    /* margin: 20px; */
}

.prvy{
    background-color: rgb(255, 79, 255);
}

.druhy{
    background-color: rgb(60, 92, 251);
}


.treti{
    background-color: rgb(248, 197, 119);
    margin: 0;
}