h2{
    color: rgb(67, 134, 0);
    background-color: antiquewhite;
}

p{
    text-align: justify;
}

body{
    width: 800px;
}

.prvy {
    color: rgb(130, 44, 130);
    text-transform: uppercase;
}

.perex{
    font-style: italic;
    font-size:large;
}